.App {
  height: 100vh;
  background-color: #23262e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-wrap {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-bottom: 2em;
}

.text-wrap h1 {
  margin: 0 auto;
  color: #fff;
  padding-bottom: 0.5em;
  font-size: 38px;
}

.text-wrap p {
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  padding-bottom: 0.75em;
}

.swatch-wrap {
  margin: 0 auto;
  width: 800px;
}

@media (max-width: 650px) {
  .swatch-wrap {
    width: 100%;
  }
}
