.wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instruct {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.swatch {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block {
  width: 150px;
  height: 150px;
  margin: 1em;
  border-radius: 1.5em;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 5px 5px #333;

}

.list {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}

.list li {
  display: inline-block;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
